.birthdayInput {
  composes: input from '../../common.module.css';
  margin-top: 10px;
}

.datepickerIcon {
  height: 20px;
  float: right;
}

.birthdayInputTitle {
  color: tBlue;
}

.birthdayPlaceholder {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}